@charset "utf-8";
/* webfont */

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
html{
    font-size: 15px;
}
body{
    font-family: 'Grandiflora One', serif; font-family: 'Noto Sans KR', sans-serif;
    line-height: 22px;
    color: #333;
}
#wrap{
    min-width: 1320px;
}
#header{
    background-color: #E5DCD7;
    height: 100px;
}
#header{
    background-color: #E5DCD7;
    height: 100px;
}
.header_inner{
    margin: 0 auto;
    width: 1320px;
    text-align: center;
    position: relative;
}
.gnb{
    display: inline-block;
}
.gnb> li{
    float: left;
}
.gnb> li> a{
    display: block;
    padding: 4px 10px 14px;
    font-size: 16px;
    font-weight: bold;
    margin: 40px 50px 0 ;
}
.gnb li:nth-child(2){
   margin-right: 250px;
}
.logo{
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -95px;
}